#tail {
  fill: black;
  transform-origin:left;
  transform-box: fill-box;
  animation: tail 1200ms ease-in infinite;
  z-index: -3;
}

@keyframes tail {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-25deg);
  }
  66% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#nose {
  fill: pink;
  position: relative;
  animation-name: nose;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
@keyframes nose {
  0% {
    fill: pink;
    transform: translateY(-8px);
  }
  50% {
    fill: pink;
    transform: translateY(-16px);
  }
  100% {
    fill: hotpink;
    transform: translateY(-8px);
  }
}
